<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>nex</servlet-name>
        <servlet-class>controller.nex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nex</servlet-name>
        <url-pattern>/nex</url-pattern>
    </servlet-mapping>
    <data-source>
        <description>DataSource campeones</description>
        <name>java:app/yeet</name>
        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>5432</port-number>
        <database-name>public</database-name>
        <user>postgres</user>
        <password>PHrMgAUYYf6Z</password>
    </data-source>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
